<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<application
		android:allowBackup="true"
		android:enableOnBackInvokedCallback="true"
		android:label="${appName}"
		android:theme="@style/Theme"
		tools:ignore="UnusedAttribute">

		<activity-alias
			android:name=".Launcher"
			android:exported="true"
			android:targetActivity=".AppActivity">

			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>

		<activity android:name=".AppActivity"/>
	</application>
</manifest>